fastapi==0.116.1
uvicorn[standard]==0.35.0
SQLAlchemy==2.0.43
psycopg[binary]==3.2.10
pydantic-settings==2.10.1
PyJWT==2.10.1
argon2-cffi==25.1.0
python-multipart==0.0.20
httpx==0.28.1
email-validator==2.2.0
